body {
    margin: 0;
    text-align: center;
}

header {
    background: #ff6a00;
}

.logo {
    color: #00ffff;
    font-family: Anton;
    font-size: 40px;
}

.header input {
    font-size: 20px;
    margin: 20px 0px;
}
