body {
    margin:0
}

header{
    background: #ff6a00;
    text-align: center;
}

.logo {
    color: #00ffff;
    font-family: Anton;
    font-size: 40px;
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}